---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Edge functions Demo">
  <main>
    <h1>Products from the edge on Planetscale</h1>
    <div id="products"></div>
  </main>
</Layout>
